{% extends 'admins/header.html' %}
{% block body_block %}

<div id="main" style="overflow: hidden; margin-left: 180px;">
    <div class="w3-container w3-display-container">
            <span title="open Sidebar" style="display: none;" id="openNav" class="w3-button w3-transparent w3-display-topleft w3-xlarge" onclick="w3_open()">☰</span>
            
    </div>

<form action="{% url 'hmsapp:add_housekeeper' %}" method="POST">
    {% csrf_token %}
    <div class="main_div_manage">
        <div style="margin-left: 2rem;" class="">
            <h3>Add Housekeeper</h3>
        </div>
        <div class="sub_div_manage">
            <div class="sp_sub">
                <p>Housekeeper Name: </p>
            </div>
            <div class="sp_sub">
                <input class="input_class" type="text" value="" name="name">
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="sp_sub">
                <p>Housekeeper Email: </p>
            </div>
            <div class="sp_sub">
                <input class="input_class" type="email" value="" name="email">
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="sp_sub">
                <p>Housekeeper Contact Number: </p>
            </div>
            <div class="sp_sub">
                <input class="input_class" type="text" value="" name="number" maxlength="12">
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="sp_sub">
                <p>Housekeeper ID: </p>
            </div>
            <div class="sp_sub">
                <input class="input_class" type="text" value="" name="id" maxlength="18">
            </div>
            <div class="button_class">
                <button class="button-29" type="submit">Submit</button>
        </div>
        </div>
        
</form>
    </div>


</div>


{% endblock %}