{% extends 'admins/header.html' %}
{% block body_block %}
<div id="main" style="overflow: hidden; margin-left: 180px;">
    <div class="w3-container w3-display-container">
            <span title="open Sidebar" style="display: none;" id="openNav" class="w3-button w3-transparent w3-display-topleft w3-xlarge" onclick="w3_open()">☰</span>
            
    </div>
    <div class="room_main" style="overflow: auto;">
        <div class="">
            <h3>Daily Activities- {{time}}</h3>
        </div>
        {% if dealy %}
        <div style="text-align: center; width: 100%; margin-top: 10rem; height: 300px;" >
            <h2 id="new_button" >{{dealy}}</h2>
        </div>
        {% endif %}
 {% if dealy_activities %}
        <div class="room_table">
            <table class="table_class">
                <thead class="table_head">
                    <th>Id#</th>
                    <th>Activity</th>
                    <th>Inspect</th>
                </thead>
                <tbody>
                   
                    {% for d in dealy_activities    %}
                    <tr>
                        <td>{{d.id}}</td>
                        <td style="display: flex;justify-content: flex-start;">{{d.activity}}</td>
                        <td style="width: 2rem;">
                           
                        <form action="{% url 'hmsapp:housekeeping_daily_activity' %}" method="POST">
                            {% csrf_token %}
                            <input type="checkbox" name="" id="" required>
                
                        {% csrf_token %}
                            <input type="hidden" name="submit_activity" value="submit_activity">
                            <input type="hidden" name="activity_id" value="{{d.id}}">
                            <button onclick="return confirm('Are you sure you want to Submit?')" type="submit" class="click_button" style="width: 2.06rem;">&#10003;</button>
                        </form>
        
                            </div>
                            
                       
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
  
</div>
 </body>
 </html>
{% endblock %}