{% extends 'admins/header.html' %}
{% block body_block %}
<div id="main" style="overflow: hidden; margin-left: 180px;">
    <div class="w3-container w3-display-container">
            <span title="open Sidebar" style="display: none;" id="openNav" class="w3-button w3-transparent w3-display-topleft w3-xlarge" onclick="w3_open()">☰</span>
            
    </div>
    <div class="room_main" style="overflow: auto;">
        <div class="">
            <h3>Housekeeper- {{time}}</h3>
        </div>
         {% if 'admin_id' in request.session %}
        <div>
            <form action="{% url 'hmsapp:add_housekeeper' %}" method="get">
                 {% csrf_token %}
                <button class="add_housekeeper"  type="submit"> Add Housekeeper</button>
            </form>
            
        </div>
        {% endif %}
        <div class="room_table">
            <table class="table_class">
                <thead class="table_head">
                    <th>Name</th>
                    <th>Email</th>
                    <th>Contact No.</th>
                    <th>Status</th>
                    <th>Inspect</th>
                </thead>
                <tbody>
                    {% if housekeeper %}
                    {% for house in  housekeeper    %}
                    <tr>
                        <td>{{house.housekeeper_id.housekeeper_name}}</td>
                        <td>{{house.housekeeper_id.housekeeper_email}}</td>
                        <td>{{house.housekeeper_id.housekeeper_mobile}}</td>
                        <td><p class="{{house.housekeeper_status}}">{{house.housekeeper_status}}</p></td>
                        <td style="width: 2rem;">
                           
                        <form action="{% url 'hmsapp:housekeeper_details' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="housekeeper_id" value="{{house.housekeeper_id.id}}">
                            <div style="display: flex; flex-direction: row;">
                            <button type="submit" class="click_button" >&#x1F441;</button>
                        </form>
                        {% if 'admin_id' in request.session %}
                        <form action="{% url 'hmsapp:housekeeper_delete' %}" method="POST">
                        {% csrf_token %}
                            <input type="hidden" name="housekeeper_id" value="{{house.housekeeper_id.id}}">
                            <button onclick="return confirm('Are you sure you want to delete?')" type="submit" class="click_button" style="width: 2.06rem;">&#x274C;</button>
                        </form>
                        {% endif %}
                            </div>
                            
                       
                        </td>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tbody>
            </table>
        </div>
    </div>
  
</div>
 </body>
 </html>
{% endblock %}