{% extends 'admins/header.html' %}
{% block body_block %}

<div id="main" style="overflow: hidden;">
    <div class="w3-container w3-display-container">
            <span title="open Sidebar" style="display: none;" id="openNav" class="w3-button w3-transparent w3-display-topleft w3-xlarge" onclick="w3_open()">☰</span>
             <h3 class="h3" style="position:fixed;top:36px;">Manage Room</h3>
             <h3 style="margin-left: 6rem;" >Click</h3>
    </div>

    <div class="main_div_manage">
      
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name:</h4>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name:</h4>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name:</h4>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name:</h4>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name:</h4>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name:</h4>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name:</h3>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name: </h4>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>



    </div>


</div>


{% endblock %}