body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main_div{

    width: 95%;
    margin: 6rem auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.sub_div{
    padding-top: 3%;
    width: 250px;
    height: 230px;
    text-align: center;
    border: 2px solid black;
    margin: 2rem;
    background-color: white;
}

/* admin index page closed */

/* room status */

.room_main{
    margin: 3rem 6rem;
}

table,
tr,
td {
    border-collapse: collapse;
    border: none;
    padding: 1rem;
}

.room_table {
    margin-top: 2rem;
    width: 100%;
    display: inline-block;
   
}

.table_class{
    width: 100%;
}
.table_head{
    background-color:azure;
    
}
th{
    padding: .9rem;
}

.room_tr {
    width: 100%;
    background-color: beige;
}
.hidden_id{
    color: beige;
}


/* room status closed */

/* room manage page */

.main_div_manage{
    position: relative;
    width: 40%;
    bottom: 249px;
    margin: 6rem  auto;
    padding: 2rem;
    border: 2px solid black;
    background-color: aquamarine;
    border-radius: 12px;

}

.sub_div_manage{
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    
}


.clicked{
    position: absolute;
    top: 3px;
    right: 13px;
}


/* room manage page closed */
