{% extends 'admin/header.html' %}
{% block body_block %}
<div id="main" style="overflow: hidden;">
    <div class="w3-container w3-display-container">
            <span title="open Sidebar" style="display: none;" id="openNav" class="w3-button w3-transparent w3-display-topleft w3-xlarge" onclick="w3_open()">☰</span>
   

    <div class="room_main" style="overflow: auto;">
        <div class="">
            <h2>Room Status- Monday, 26 Oct 2020 12:18 AM</h2>
        </div>

        <div class="room_table">
            <table class="table_class">
                <thead class="table_head">
                    <th>Room #</th>
                    <th>Room Type</th>
                    <th>Room Status</th>
                    <th>Reservation Info</th>
                    <th>Occupancy</th>
                    <th>Status</th>
                    <th>Notes</th>
                    <th>Updated By</th>
                    <th>Update Time</th>
                    <th>Edit Details</th>
                </thead>
                <tbody>
                    <tr class="room_tr">
                        <td id="room_td">East Wing</td>
                        <td class="hidden_id">.</td>
                        <td class="hidden_id">.</td>
                        <td class="hidden_id">.</td>
                        <td class="hidden_id">.</td>
                        <td class="hidden_id">.</td>
                        <td class="hidden_id">.</td>
                        <td class="hidden_id">.</td>
                        <td class="hidden_id">.</td>
                        <td class="hidden_id">.</td>
                    </tr>
                    <tr>
                        <td>E010</td>
                        <td>Double</td>
                        <td>Active</td>
                        <td>Check-In</td>
                        <td>Vacant</td>
                        <td>Inspected</td>
                        <td> <textarea name="" id="" cols="20" rows="1"></textarea> </td>
                        <td>Shuvra</td>
                        <td>26 Oct 12.15 AM</td>
                        <td style="width: 2rem;">
                           
                        <form action="{% url 'hmsapp:room_status' %}" method="POST">
                            {% csrf_token %}
                            <input type="hidden" name="name" value="shuvra">
                            <button type="submit" class="click_button" >&#x1F441;</button>
                        </form>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


{% if clicked %}
    {{clicked.name}}
     <div class="main_div_manage">
         <div class="clicked">
              <form action="{% url 'hmsapp:room_status' %}" method="GET">
                {% csrf_token %}
                    <button class="clicks" >x</button>
             </form>
         </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name:</h4>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name:</h4>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name:</h4>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name:</h4>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name:</h4>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name:</h4>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name:</h3>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>
        <div class="sub_div_manage">
            <div class="">
                <h4>Room Name: </h4>
            </div>
            <div class="">
                <h5>E010</h5>
            </div>
        </div>



    </div>
 </div>
{% endif %}





</div>
 </body>
 </html>
{% endblock %}